.fondo{
    
    background-color: #051a30;
    

}
.nombres{
    text-align: center;
   color:#b1f0dc;
 
}

.d-block{
    position: relative;
    left: 180px;
    width: 40%;
     background-color: #7ccfcf;
     color: black;
     
}
.card {
    width: fit-content;
    background-color: #051a30;
}